
.bellbutton{
    background-color: transparent;
    border-color: transparent;
    width: 5%;
    display:block;
    padding: 0;
    margin:1%;
}
.bellPic{
    width: 110%;
    padding-right: 10px;
    align-items: center;
}