body{
    font-style:#4a322a;
}

.react-multi-carousel-list  {
    position:unset;

    .react-multiple-carousel__arrow {
        position:absolute;
    }

    .react-multiple-carousel__arrow--left {
        left: calc(-4.7% + 1px)
    }

    .react-multiple-carousel__arrow--right {
        right: calc(2% + 1px)
    }
}

.carousel-wrapper {
    position: relative;
    width: 94%;
    margin-left: 6%;
}

.icon-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4a322a;
}

.icon {    
  color: #f9733a;
}

.custom-dot-inactive {
    display: block;
    width: 10px; /* Adjust the dot size */
    height: 10px;
    margin: 2px;
    border-radius: 50%;
    background-color: #0f5b7c; /* Adjust the color of inactive dots */
    cursor: pointer;
}

.custom-dot-active {
    display: block;
    width: 10px; /* Adjust the dot size */
    height: 10px;
    border-radius: 50%;
    margin: 2px;
    background-color: #E16632; /* Adjust the color of the active dot */
}

.react-multi-carousel-dot-list {
  position: relative;
  margin-top: 15px;
}

.button-effect:hover span {
  color: white;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(0.95);
  }

  100% {
      transform: scale(1);
  }
}

.button-inactive {
  display: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 2% 5% 0;
}

.custom-cus .accordion-button{
  padding: 3px;

}

.accordion-button {
    color: #4a322a;
}

.accordion-button:not(.collapsed) {
    color: #4a322a;
    background-color: #81ADC1;
    box-shadow: none;
}

.accordion-button.collapsed {
    box-shadow: none;
}

.card-address {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 0;
    color: #4a322a;
    cursor: pointer;
}

.card-address img {
    width: 30px;
    height: 31.637px;
    margin-right: 3px;
}

.card-address-text {
    margin-bottom: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card-address-text-full {
    margin-bottom: 0;
}

.hours-list {
  list-style-type: none;
  padding: 0;
}

.hours-list li {
  border: 1px solid #775144;
  transition: transform 0.3s ease;
}

.hours-list li:hover { 
  cursor: default;
}

.gray-bg {
  background-color: #C6D8DF;
  color:#4a322a;
  padding-left: 2%;
}

.white-bg {
  background-color: #eff0f1;
  color:#4a322a;
  padding-left: 2%;
}

.attributes-list {
  list-style: none;
  padding: 0;
  cursor: default;
}

.attribute-item {
  display: flex;
  align-items: center;
  color: #4a322a;
}

.attribute-text {
  margin-left: 8px; /* Adjust as needed */
  color: #4a322a;
}

.card{
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
  color: #5d3f35;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.react-slideshow-fadezoom-wrapper  > .react-slideshow-fadezoom-images-wrap{
  margin: 0;
  height: 30vh;
}

.card > .react-multi-carousel-list { margin: 0; height: 30vh; }

.react-slideshow-container .default-nav {
  display: none;
}

.normal-card {
  border: 5px outset rgba(72, 132, 159, 0.8);
}

.normal-card:hover {
  border: 5px outset rgba(72, 132, 159, 0.8); 
}

.highlighted-card {
  border: 5px outset rgba(225, 102, 50, 0.8);
}

.highlighted-card:hover {
  border: 5px outset rgba(225, 102, 50, 0.8);
}


.carousel-image {
  width: 100vw;
  object-fit: fill;
  max-width: 100%;
  height: 50vh;
}

