.react-multi-carousel-list  {
  margin-left: 5%;
}

.custom-dots {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  
    li {
      margin: 0 5px; /* Adjust the spacing between dots */
      display: inline-block;
    }
  
    button {
      width: 10px; /* Adjust the dot size */
      height: 10px;
      border-radius: 50%;
      background-color: #ccc; /* Adjust the color of inactive dots */
      border: none;
      cursor: pointer;
  
      &.active {
        background-color: #007bff; /* Adjust the color of the active dot */
      }
    }
}