.react-multi-carousel-list  {
  margin-left: 5%;
}

.icon-style {
  display: flex;
  align-items: center;
}

.icon {    
  color: gold;
}

.custom-dots {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -20px; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  
    li {
      margin: 0 5px; /* Adjust the spacing between dots */
      display: inline-block;
    }
  
    button {
      width: 10px; /* Adjust the dot size */
      height: 10px;
      border-radius: 50%;
      background-color: #ccc; /* Adjust the color of inactive dots */
      border: none;
      cursor: pointer;
  
      &.active {
        background-color: #007bff; /* Adjust the color of the active dot */
      }
    }
}

.react-multi-carousel-dot-list {
  position: relative;
  margin-top: 15px;
}

.shopping-cart-body {
  max-height: 70vh;
  overflow-y: scroll;
}

.shopping-element-card {
  padding: 2%;
  margin: 3% 0;
}

.shopping-element-img {
  width: 5vw;
  height: 12vh;
  padding: 3%;
}

.button-effect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #f44242;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border: none;
}

.button-effect::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: red;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.button-effect:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.button-effect span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 7%;
  color: #000000;
  font-size: 1.125em;
  font-weight: 700;
  letter-spacing: 0.1em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.button-effect:hover span {
  color: white;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
      transform: scale(1);
  }

  50% {
      transform: scale(0.95);
  }

  100% {
      transform: scale(1);
  }
}

.button-inactive {
  display: none;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 2% 5% 0;
}

.custom-cus .accordion-button{
  padding: 3px;
}
  
.map-link {
  color: inherit; 
  text-decoration: none; 
}

.map-link:hover {
  text-decoration: underline; 
  cursor: pointer; 
}


.hours-list {
  list-style-type: none;
  padding: 0;
}

.hours-list li {
  border: 1px solid black;
  transition: transform 0.3s ease;
}

.hours-list li:hover {
  transform: scale(1.05); 
  cursor: default;
}

.gray-bg {
  background-color: lightgray;
  padding-left: 2%;
}

.white-bg {
  background-color: white;
  padding-left: 2%;
}

.attributes-list {
  list-style: none;
  padding: 0;
}

.attribute-item {
  display: flex;
  align-items: center;
}

.attribute-text {
  margin-left: 8px; /* Adjust as needed */
}

.card{
  opacity: 0;
  animation: fadeIn 1.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start with opacity 0 */
  }
  to {
    opacity: 1; /* End with opacity 1 */
  }
}

.card:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.card > .react-multi-carousel-list {
  margin: 0;
  height: 30vh;
}



.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-width: 100%; 
}

