@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Play:wght@400;700&display=swap');


.container {
  display: flex;
  height: 100vh;
}

.left-side {
  flex: 1;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column; 
  justify-content: flex-start; 
  align-items: center;
  max-width: 35em;
}

.left-side header {
  background: #e16632;
  padding: 16px 0;
  text-align: center;
  width:100%;
  color: white;
  font-family:Play;
}

.left-side img {
  width: max-content;
}

.right-side {
  flex: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.chat-box {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.left-side header{
  background:#e16632;
  padding: 16px 0;
  text-align: center;
}


.bot .icon, .user .icon{
  color: white;
  margin: 5px;
} 

.greeting-buttons{
  background-color:#81adc8;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 2px 3px, 0, 3px;
  margin: 2px;
  width: fit-content;
}

.greeting-buttons:hover {
  background-color:#0f5b7c; /* Lighter shade of orange on hover */
}


.input-box {
  padding: 10px;
  display: flex;
}

.input-box input[type="text"] {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.input-box button {
  padding: 8px 20px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  outline: none;
}

.user {
  margin-bottom: 15px;
  background-color: #81adc8;
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
  color: #eff0f1;
  max-width: 70%;
  align-self: flex-end;
  animation-duration: 0.5s; 
  animation-name: textPop;
  transition: transform 0.3s;
}

.bot {
  margin-bottom: 15px;
  background-color: #c76137;
  padding: 10px;
  border-radius: 10px 10px 10px 0px;
  color: #eff0f1;
  max-width: 70%;
  align-self: flex-start;
  animation-duration: 0.5s; 
  animation-name: textPop;
  transition: transform 0.3s;

}

.user:hover, .bot:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
  transform: translateY(-2px); 
}

@keyframes textPop {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}



.refresh-button-container {
  margin-top: auto; /* Push the button to the bottom */
}

.refresh-button {
  background-color: #E16632; /* Green color for the button */
  color: white; /* White text color */
  padding: 15px 32px;
  text-align: center; 
  display: inline-block; 
  font-size: 16px; 
  border: none; 
  cursor: pointer; 
  border-radius: 30px; 
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-weight: bold;
  margin-bottom: 30px;
}

.refresh-button:hover { /* Button hover effect */
  background-image: linear-gradient(to bottom right, #81adc8, #007bff);  /* Change background color on hover */
  box-shadow: 0 0 20px #f1eee8;
  transform: translateY(-5px);
}

.circular-button {
  border-radius: 50%;
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 10px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  position: relative;
  top: -10px;
  left: 2px;

}

.circular-button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

.spinner-7 {
  --d:22px;
  width: 4px;
  height: 4px;
  margin-left: 50px;
  position: relative;
  top: -70px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: s7 1s infinite steps(8);
}

@keyframes s7 {
  100% {transform: rotate(1turn)}
}



/*********************************/



/* User Messages In Chat */
.message-user {
  /* text-align: right; */
  margin-bottom: 10px;
  background-color: #81adc8; /* Change message background color to #81adc8 */
  padding: 10px;
  border-radius: 10px;
  color: #eff0f1;
  max-width: 80%;
  display: flex;
  align-self: flex-end;
}

/* Bot Messages In Chat */
.message-bot {
  /* text-align: left; */
  margin-bottom: 10px;
  background-color: #c76137; /* Change message background color to #81adc8 */
  padding: 10px;
  border-radius: 10px;
  color: #eff0f1;
  max-width: 80%;
  max-height: 15%;
  display: flex;
  align-self: flex-start;
}


#formMessage {
  background-color: #81adc8; /* Change input background color to #0f5b7c */
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: calc(100% - 5px);
}

.message-bot button {
  background-color: #e16632; /* Set button background color to #e16632 */
  color: white;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: fit-content;
}
/*****************Starting Message****************/
