/* RestCardCss.css */
.rest-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; 
  }
  
  .icon-style {
    display: flex;
    align-items: center;
  }
  
  .icon {    
    color: gold;
  }
  